@import 'ui-kit/styles';

.locationWrapper{
    display: flex;
    flex-wrap: wrap;
    @media (min-width:1024px){
        gap: 34px;
    }
    @media(max-width:1024px){
        gap: 0px;
    }
}
.locationContainer{
    max-width: 350px;
    display: flex;
    align-items: flex-start;
    padding-top: 35px;
    gap: 15px;

    @media(max-width: 1024px){
        width: 100%;
        max-width: max-content;
    }

}

.locationContainerIsMap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    border-bottom: 4px solid $color-primary;

    @media(max-width: 767px){
        flex-direction: column;
        align-items: flex-start;
    }
}

.icon{
    display: flex;
    align-self: flex-start;
    svg path{
        fill: $color-red;
    }
    width: 24px;
    height: 24px;

    @media(max-width:767px){
        width: 24px;
        height: 24px;
    }
}

.locationMap{
    display: flex;
    padding-bottom: 20px;
    @media(max-width: 767px){
       width: 100%;
       margin-top: 10px;
       order: 2;
    }
}

.locationText{
    word-break: normal;
    color: $color-text;
    display: flex;
    flex-direction: column;

    // word-wrap: break-word;
    &-title{
        margin-top: 5px;
        @include SoinSansNeue-24-bold;
    }

    &-body{
        @include SoinSansNeue-14-small;
        color: $color-disabled;
    }

    @media(max-width: 767px){
        &-title{
            @include SoinSansNeue-20-bold;
        }
        &-body{
            max-width: 500px;
            @include SoinSansNeue-16-bold;
        }
    }
}