@import 'ui-kit/styles';

.locationWrapper{
    display: flex;
    flex-wrap: wrap;
    @media (min-width:1024px){
        gap: 70px;
    }
    @media(max-width:1024px){
        gap: 0px;
    }
}
.locationContainer{
    max-width: 320px;
    display: flex;
    align-items: center;
    padding-top: 35px;
    gap: 15px;

    @media(max-width: 1024px){
        width: 100%;
        max-width: max-content;
    }

}

.locationContainerIsMap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    border-bottom: 4px solid $color-primary;

    @media(max-width: 1024px){
        width: 100%;
        max-width: max-content;
    }
}

.locationIcon{
    svg path{
        fill: $color-red;
    }
}

.locationMap{
    display: flex;
    // ali: flex-end;
}

.locationText{
    word-break: normal;
    color: $color-text;
    // word-wrap: break-word;
    &-title{
        @include SoinSansNeue-24-bold;
    }

    &-body{
        @include SoinSansNeue-14-small;
        color: $color-disabled;
    }

    @media(max-width: 767px){
        &-title{
            @include SoinSansNeue-20-bold;
        }
        &-body{
            @include SoinSansNeue-16-bold;
        }
    }
}