@import 'ui-kit/styles';

.boxWrapper{
    // padding: 24px;
}

.boxItem{
    width: 333px;
    height: 200px;
    background-color: #f5f5f5;
    // background-color: #e6e9ec;
    color: $color-text;
    // padding: 24px;
}

.boxText{
    padding: 30px;
    width: 333px;
    word-wrap: break-word;
    @include SoinSansNeue-16-regular;
    color: $color-text-secondary;
}

.circleBox{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f5f5f5;
    margin-left: 85px;
    
}