@import 'ui-kit/styles';

.detailContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.detailWrapper{
    display: flex;
    gap: 10px;
    width: 20%;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;

    @media(max-width:767px){
        width: 45%;
    }
}

.detailImage{
    width: 100%;
}


.menuContainer{
    cursor: pointer;
    &:hover{
      box-shadow: $shadow-black;
    }
  }