@import 'ui-kit/styles';


.detailWrapper{
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 8px;
    flex-basis: calc(25% - 10px); /* Adjust the flex-basis value as needed */
    margin: 5px; /* Adjust the margin value as needed */
    line-height: 50px;
    @media(max-width:767px){
        flex-basis: calc(50% - 10px); /* Adjust the flex-basis value as needed */
    }
}

.detailImage{
    width: 100%;
}


.menuContainer{
    cursor: pointer;
    &:hover{
      box-shadow: $shadow-black;
    }
  }