@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.fade-in {
    animation: fade-in 1s ease-in-out forwards;
}

.fade-out{
    animation: fade-out 1s ease-in-out forwards;
}

.componentPosition{
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;

    @media(max-width:1024px){
        padding: 20px;
    }
}