@import 'ui-kit/styles';

.navbar-logo {
  cursor: pointer;
  width: 10%;
  @media (max-width:767px) {
    justify-content: center !important;
     width: 40%;
  }
  @media(max-width:1024px){
    width: 30%;
  }
}


.navbar-menu:hover {
  color: $color-headline;
  fill: $color-headline;
  border-bottom: 2.5px solid $color-headline;
}

.menu li:active {
  color: $color-headline;
  fill: $color-headline;
  border-bottom: 2.5px solid $color-headline;
}

.navbar-responsive{
  padding-left: 200px;
  @media (max-width:1024px) {
    padding: 0%;
    justify-content: space-between !important;
  }
}

.btn-navbar {
  fill: $color-main-white;
  color: $color-main-white;
  // background-color: #D83327;
  font-size: 0.8rem;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 10px 30px -9px rgba(0, 0, 0, 0.16);
  padding: 10px 30px 10px 30px !important;

  @media (max-width: 1024px) {
    visibility: hidden;
  }
}