@import 'ui-kit/styles';


.sideContainer{
    color : $color-main-white;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sideText{
    @include SoinSansNeue-16-regular;
    display: flex;
    align-items: center;
    gap: 10px;

    svg path{
        fill: $color-warning !important;
    }
}