@import 'ui-kit/styles';

.footerContainer {
  padding: 10px;
  background-color: $color-footer;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    display: inline-block;
    padding: 0;
  }
}

.footerText {
  @include SoinSansNeue-13-small;
  align-self: center;

  @media (max-width: 768px) {
    display: flex;
  }
}

.footerDetail {
    gap: 20px;
    display: flex;
  @media (max-width: 767px) {
    justify-content: space-between;
  }
}

.footerShare {
  gap: 15px;
  display: flex;
  align-items: center;
}

.footerLogo {
  gap: 15px;
  display: flex;
  svg path {
    fill: $color-primary;
  }
  &:hover {
    box-sizing: $shadow-black;
  }

  @media (max-width: 767px) {
    gap: 8px;
    padding-top: 14px;
  }
}
