@import 'ui-kit/styles';

.locationsWrapper{
    display: flex;
    flex-direction: column;
    // padding-left: 65px;
    // padding-right: 65px;
    @media(max-width: 767px) {
        padding: 0px;
    }
}

.locationsContainer{
    // padding-left: 84px;
    // padding-right: 84px;
    @media(max-width: 767px){
        padding: 0px;
    }
}

.locationsTitle{
    color: black;
}