@import 'ui-kit/styles';

.headlineContainer {
  display: flex;
  // height: 100vh;
}

.headlineImage {
  width: 70%;
}

.btn-scroll {
  position: absolute;
  top: calc(100% - 60px); /* Ubah nilai 60px sesuai dengan tinggi tombol */
  left: 45%;
  transform: translate(-50%, -50%);

  @media (max-width: 1024px) {
    top: calc(100% - 60px); /* Ubah nilai 60px sesuai dengan tinggi tombol */
    left: 60%;
  }
  @media (max-width: 767px) {
    display: none;
  }
}


.headlineWidget {
  display: flex;
  width: 30%;
  background-color: $color-headline;
  align-content: flex-end;
  align-items: flex-end;
}

.headlineText {
  height: 150px;
  margin-top: auto;
  color: $color-primary;
  &-header {
    @include SoinSansNeue-48-bold;
  }

  &-body {
    @include SoinSansNeue-24-bold;
  }
}

@media (max-width: 1024px) {
  .headlineContainer {
    display: inline-block;
  }

  .headlineImage {
    width: 100%;
  }

  .headlineWidget {
    display: flex;
    width: 100%;
    background-color: $color-headline;
    align-content: flex-end;
    align-items: flex-end;
  }

  .headlineText {
    height: auto;
    &-header {
      @include SoinSansNeue-38-bold;
    }

    &-body {
      @include SoinSansNeue-16-bold;
    }
  }
}

@media (max-width: 767px) {
  .headlineText {
    height: auto;
    &-header {
      @include SoinSansNeue-42-bold;
    }
  }
}

.iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Menggeser ikon ke bagian bawah */
  position: absolute;
  width: 1080px;
  height: 250px;
  margin-top: 850px;
  margin-left: 200px;
  bottom: 0; /* Menempatkan ikon di bagian bawah */
  cursor: pointer;
  animation-name: floatAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  svg path{
    fill: $color-primary !important;
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}